# Environment variables for Prisma and Backend
DATABASE_URL="postgresql://postgres:123456@localhost:5432/security_video_db?schema=public"

# === JWT SECURITY ===
JWT_SECRET="secret_quan_doi_cuc_ky_bao_mat"
# === VNPAY CONFIG (SANDBOX) ===
VNP_TMN_CODE="UMW2QPVM"
VNP_HASH_SECRET="6GCKHI6TPERTNHJD9YTVCL4AS05A6XMK"
VNPAY_URL=https://sandbox.vnpayment.vn/paymentv2/vpcpay.html
VNPAY_RETURN_URL=http://localhost:3000/api/payment/vnpay/callback
VNPAY_API_URL=https://sandbox.vnpayment.vn/merchant_webapi/api/transaction