# Environment variables for Prisma and Backend
DATABASE_URL="postgresql://postgres:123456@localhost:5432/security_video_db?schema=public"
NODE_ENV=development
# === JWT SECURITY ===
JWT_SECRET="secret_quan_doi_cuc_ky_bao_mat"
# VITE_API_URL=http://172.16.4.113:5174
# VITE_API_URL=https://unperceptive-sau-divaricately.ngrok-free.dev
VITE_API_URL=https://unperceptive-sau-divaricately.ngrok-free.dev
# đúng chưa?

# === CLOUDINARY ===
CLOUDINARY_CLOUD_NAME=dohwlmspl
CLOUDINARY_API_KEY=367363267476676
CLOUDINARY_API_SECRET=7L18jhS86ULz8K4xpGTdjxeqpjU

# === MINIO ===
MINIO_ENDPOINT       = http://172.15.1.33:9000
MINIO_ACCESS_KEY     = testupload
MINIO_SECRET_KEY     = Test@123456
MINIO_BUCKET_NAME    = test
MINIO_PUBLIC_URL     = http://172.15.1.33:9000/test