.programRequestsContainer {
    :global {
        .ant-table-thead>tr>th {
            background: #f8fafc;
            font-weight: 600;
        }
    }
}

.userName {
    font-weight: 600;
}

.userEmail {
    font-size: 12px;
    color: #64748b;
}

.programTitle {
    font-weight: 500;
}