.videoJsPlayerContainer {
    width: 100%;
    aspect-ratio: 16/9;
    background: #000;
    border-radius: 16px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);

    :global {
        .video-js {
            width: 100%;
            height: 100%;
        }
    }
}